<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Omega Em-Konkurranse</title>
    <link rel="shortcut icon" type="image/jpg" href="assets/img/logo.png" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <div id="app">
      <div class="bg-black h-auto pt-3 pb-3 h-screen">
        <div
          class="
            wrapper
            my-auto
            p-5
            container
            mx-auto
            border-solid border-4
            omega-border
            rounded
            bg-black
            text-white
          "
        >
          <div class="flex sm:flex-wrap justify-between">
            <img
              @click="lucasGreeting()"
              src="./assets/img/lucas.png"
              alt=""
              class="max-h-10 md:max-h-20 lucas"
              loading="lazy"
            />
            <h1
              class="
                text-xl text-white text-center
                font-mono
                pb-4
                font-bold
                items-center
              "
              id="title"
            >
              Omegas EM-tippekonkurranse
            </h1>
            <img
              v-for="audio in audios"
              :key="audio.id"
              @click.prevent="audio.isPlaying ? pause(audio) : play(audio)"
              src="./assets/img/player.png"
              alt=""
              class="max-h-10 md:max-h-20 player"
            />
          </div>

          <div class="">
            <p class="text-base font-mono ml-8 md:mx-10 pt-2 md:text-center">
              Endelig skal de store spørsmål her i livet besvares:
            </p>
            <div class="mt-5 ml-14 md:ml-28">
              <ul class="list-disc font-mono">
                <li>Hvem i Omega er best til å tippe?</li>
                <li>Hvilket europeisk land er best til å spille fotball?</li>
              </ul>
            </div>
          </div>
          <div class="flex mb-5 flex-col sm:flex-wrap lg:flex-row">
            <div class="flex items-center md:flex-1">
              <div class="flex sm:mx-24 flex-col md:mx-40 lg:mx-0">
                <table class="sm:ml-8 lg:ml-2 lg:ml-2">
                  <th colspan="2">
                    <h2
                      class="pb-2 text-base text-left font-mono mt-5 font-bold"
                    >
                      Rangering
                    </h2>
                  </th>
                  <th class="pl-3">
                    <h2
                      class="pb-2 text-base text-left font-mono mt-5 font-bold"
                    >
                      Poeng
                    </h2>
                  </th>
                  <th class="pl-3">
                    <h2
                      class="pb-2 text-base text-left font-mono mt-5 font-bold"
                    >
                      Detaljer<sup>*</sup>
                    </h2>
                  </th>
                  <tr
                    v-for="(result, idx) in results"
                    :key="idx"
                    class="font-mono"
                  >
                    <td>{{result.ranking}}.</td>
                    <td>{{result.name}}</td>
                    <td class="text-center pl-3 md:pl-1">
                      {{result.score}} ({{result.lastScore}})
                    </td>
                    <td class="text-xs px-1">
                      <span class="text-indigo-500">{{result.groupStage}}</span
                      >+<span class="text-blue-600">{{result.gsStandings}}</span
                      >+<span class="text-blue-400">{{result.quarter}}</span
                      >+<span class="text-green-400">{{result.semi}}</span
                      >+<span class="text-yellow-200">{{result.final}}</span
                      >+<span class="text-yellow-500">{{result.champion}}</span
                      >+<span class="text-red-400">{{result.topScorers}}</span>
                    </td>
                  </tr>
                </table>
                <div class="text-xs px-1 pt-1">
                  *<span class="text-indigo-500">Gruppespill</span>,
                  <span class="text-blue-600">Plassering</span>,
                  <span class="text-blue-400">Kvartfinaler</span>,
                  <span class="text-green-400">Semifinaler</span>,
                  <span class="text-yellow-200">Finale</span>,
                  <span class="text-yellow-500">Mester</span>,
                  <span class="text-red-400">Toppscorer</span>
                </div>
              </div>
            </div>
            <div class="md:flex-1 flex-col flex items-center">
              <div class="">
                <h2 class="pb-2 text-xl font-mono mt-5 font-bold text-center">
                  Siste resultat:
                </h2>
                <p class="font-mono text-center">
                  {{nextMatchStats.lastMatch.h}} -
                  {{nextMatchStats.lastMatch.b}}
                  <strong style="color: rgb(52, 211, 153)">
                    ({{nextMatchStats.lastMatchWinner}})
                  </strong>
                </p>
              </div>
              <div class="flex flex-col items-center">
                <img
                  @mouseover="elinIsHungry()"
                  class="max-h-15 md:max-h-30 md:mt-5 elin mx-auto"
                  src="/assets/img/elin.png"
                  alt=""
                  loading="lazy"
                />

                <audio>
                  <audio
                    id="elinSound"
                    src="/assets/sounds/elin.mp3"
                    muted
                  ></audio>
                </audio>
                <div class="flex items-center">
                  <button
                    @click="shitter()"
                    id="fool"
                    class="
                      mx-auto
                      mt-4
                      text-white
                      font-bold
                      py-2
                      px-4
                      rounded-full
                    "
                  >
                    Don't do it
                  </button>
                </div>
              </div>
            </div>
            <div
              v-if="nextMatchStats.nextMatch"
              class="md:flex-1 flex-col flex items-center"
            >
              <div class="ml-8">
                <h2 class="pb-2 text-xl font-mono mt-5 font-bold">
                  Neste kamp:
                </h2>
                <p class="font-mono">
                  {{nextMatchStats.nextMatch.h}} -
                  {{nextMatchStats.nextMatch.b}}
                </p>
                <h2 class="pb-2 text-xl font-mono mt-5 font-bold">
                  Tippestatistikk:
                </h2>
                <table class="table-fixed">
                  <th colspan="1" class="w-1/2">
                    <h2
                      class="
                        pb-2
                        text-md text-left
                        font-mono
                        mt-5
                        mr-5
                        font-bold
                        w-1/2
                        text-blue-400
                      "
                    >
                      Hvem kvalifiserer til neste runde?
                    </h2>
                  </th>
                  <th>
                    <h2
                      class="
                        pb-2
                        text-md text-left
                        font-mono
                        mt-5
                        font-bold
                        text-blue-400
                      "
                    >
                      Antall spillere
                    </h2>
                  </th>
                  <tr class="font-mono">
                    <td>{{nextMatchStats.nextMatch.h}}</td>
                    <td class="text-center">
                      {{nextMatchStats.nextMatch.hWin}} spiller(e)
                    </td>
                  </tr>
                  <tr class="font-mono">
                    <td>{{nextMatchStats.nextMatch.b}}</td>
                    <td class="text-center">
                      {{nextMatchStats.nextMatch.bWin}} spiller(e)
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="flex">
            <div class="justify-start flex-1 items-end">
              <img
                src="/assets/img/logo.png"
                class="max-h-10 md:max-h-20 text-center"
                alt=""
                loading="lazy"
              />
            </div>
            <div class="flex items-end">
              <p
                class="
                  text-center
                  font-mono font-extralight
                  text-xs
                  md:text-sm
                  justify-center
                  flex-1
                "
              >
                Sist oppdatert: {{ lastUpdate }}
              </p>
            </div>

            <div class="justify-end flex-1 flex items-end">
              <img
                src="/assets/img/omegalogo2.png"
                alt=""
                class="max-h-10 md:max-h-20"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data() {
          return {
            results: [],
            nextMatchStats: {},
            lastUpdate: "",
            audios: [
              {
                id: "music",
                file: new Audio("./assets/sounds/music/music.mp3"),
                isPlaying: false,
              },
            ],
          };
        },
        methods: {
          elinIsHungry: function () {
            document.getElementById("elinSound").muted = false;
            document.getElementById("elinSound").play();
          },
          frenchGreeting: function () {
            const audio = new Audio("./assets/sounds/putain.mp3");
            audio.play();
          },
          pokemonGreeting: function () {
            document.getElementById("pokemonSound").muted = false;
            document.getElementById("pokemonSound").play();
          },
          lucasGreeting: function () {
            const lucasHello = new Audio("./assets/sounds/bark3.mp3");
            lucasHello.play();
          },
          play(audio) {
            audio.isPlaying = true;
            audio.file.play();
          },
          pause(audio) {
            audio.isPlaying = false;
            audio.file.pause();
          },
          farter: function () {
            const fart = new Audio("./assets/sounds/fart.mp3");
            fart.play();
          },
          shitter: function () {
            const shit = new Audio("./assets/sounds/realShit.mp3");
            shit.play();
          },
        },
        mounted() {
          fetch("/data/scores.json")
            .then((response) => {
              if (!response.ok)
                throw new Error("HTTP error " + response.status);
              return response.json();
            })
            .then((data) => {
              const { scores, nextMatchStats, lastUpdate } = data;
              const dateObject = new Date(lastUpdate);
              const day = dateObject.getDate();
              const month = dateObject.getMonth() + 1;
              const year = dateObject.getFullYear();
              const hoursUnformated = dateObject.getHours();
              const hours = ("0" + hoursUnformated).slice(-2);
              const minutesUnformated = dateObject.getMinutes();
              const minutes = ("0" + minutesUnformated).slice(-2);
              this.results = scores;
              this.nextMatchStats = nextMatchStats;
              this.lastUpdate =
                day + "/" + month + "/" + year + " " + hours + ":" + minutes;
            });
        },
      });
    </script>

    <style>
      .elin {
        transition: 0.1s ease-in-out;
        opacity: 0.5;
      }
      .elin:hover {
        opacity: 1;
      }
      .francois {
        transition: 0.7s ease-in-out;
      }
      .francois:hover {
        transform: rotate(360deg);
      }
      .christina {
        transition: 0.2s ease-in-out;
      }
      .christina:hover {
        transform: scale(3);
      }
      .lucas,
      .player {
        cursor: pointer;
        transition: transform 0.2s;
      }
      .lucas:hover,
      .player:hover {
        transform: scale(1.2);
      }
      .lucas {
        border-bottom: 2px solid #ffa31a;
      }
      .omega-border {
        border-color: #ffa31a;
      }
      #fool {
        background-color: #ffa31a;
      }
      .omega-background {
        background-color: #808080;
      }
    </style>
  </body>
</html>
